- import {format_uptime, till_now_ms, from_ms} from 'util/time'
- import {component} from 'util/base'
- import {Sparkline} from 'util/sparkline'
- import {DonutChart} from 'util/donut'

mixin icon(name)
  span(class='glyphicon glyphicon-' + name)

mixin render_self(stats)
  span(title="Uptime of the cantal agent itself")
    span  up 
    span= format_uptime(till_now_ms(from_ms(stats.startup_time)))
  span  
  span(title="Latency of requests to the cantal")
    span= this.latency.toFixed(0)
    span ms
  span  
  span(title="Time it takes for cantal to read all stats once")
    span= stats.scan_duration.toString()
    span ms

mixin render_machine(data)
  span(title="Minute Load Average")= data.load_avg_1min.toFixed(2)
  span= " / "
  span(title="5 Minutes Load Average")= data.load_avg_5min.toFixed(2)
  span= " / "
  span(title="15 Minutes Load Average")= data.load_avg_15min.toFixed(2)
  span= " / "
  span(title="Uptime of the box running cantal")
    span up 
    span= format_uptime(till_now_ms(from_ms(data.boot_time*1000)))
  span= " "
  +component(Sparkline, this.cpu_chart)
  span= " "
  +component(DonutChart, this.memory_chart, {width: 32, height: 32})

div.navbar.navbar-default
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href="#/") Cantal
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(this.hash=='#/processes' ? 'active' : ''))
          a(href="#/processes") Processes
        li(class=(this.hash=='#/values' ? 'active' : ''))
          a(href="#/values") Values
        li(class=(this.hash=='#/totals' ? 'active' : ''))
          a(href="#/totals") Totals
      form.navbar-form.navbar-right(class=(this.error ? 'bg-danger' : ''))
        span (
        +icon('hdd')
        span= " "
        if this.data
          +render_machine(this.data)
        span ) (
        +icon('scale')
        if this.data
          +render_self(this.data)
        span= ") "
        a.btn.btn-default(href="#/status") Status
